.add-room{
    margin-top: 100px;
}

table.table td a.edit {
    color: #FFC107;
    cursor: pointer;
}
table.table td a.delete {
    color: #E34724;
    cursor: pointer;
}

.thead-dark{
    text-align: center;
}
.data-align{
    text-align: center;
}